@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "boonhome-400";
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/boonhome-400.otf);
  src: local("boonhome-400"), url(/fonts/boonhome-400.woff) format("woff2");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, boonhome-400, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.boonhome {
  font-family: "boonhome-400";
}
